.chart {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.container {
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.05);
    border-radius: 6px;
}
