.info {
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.select {
    min-width: 120px;
}

.label {
    font-size: 12px;
    margin-bottom: -2px;
}

.value {
    font-size: 16px;
}

.item {
    min-width: 100px;
}
